body {   
    background-color: #08161e;
    font-family: 'Courier New', Courier, monospace; 
    color: #F8F8FF;
}
.nav_bar {
    font-size: 30px;
    font-weight: bold;
}
.container {
    margin-top: 20px;
}
.row {
}
.col-8 {
}
.col-4 {
}
.col-3.nav_logo {
}
.col-9 {
}
.nav_text {
    display: flex;
    align-items: center;
    justify-content: right;
}
.img_size {
}
.title_photo {
    text-align: center;
}
.my_photo{
    background: url(../image/photo.jpg) no-repeat center center;
    background-size: 100%;
    width: 500px;
    height: 500px;
}

.nav_logo{
    background: url(../image/logo.png) no-repeat center center;
    background-size: 100%;
    width: 40px;
    height: 62px;
}

.button_js{
    text-align: center;
}

#myButton{
    border: none;
    border-radius: 15px;
    width: 150px;
    height: 50px;
    background-color: #a30f0f;
    color: #F8F8FF;
    font-weight: bold;
}

#demo img {
    margin-top: 20px;
    width: 25%;
}